.image-gallery {
  max-height: 250px;
  max-width: 350px;
  float: left;
  margin: 0px 15px 15px 0px;
}

.image-gallery-image img {
  max-height: 200px;
  object-fit: contain;
}

.image-gallery-thumbnail {
  width: 70px;
}
